<div class="card">
<div class="card-body">
<%= form_for @company do |f| %>
	<ul>
		<% if @company.errors.any? %>
			<%= @company.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		<% end %>
	</ul>
<div class="card-header">Company Details</div>
	<br>
	<div class="card-body">
	<div class="card-text">
	<%= f.label :name %><br>
	<%= f.text_field :name %><br><br>
	</div>
	<% Building.all.each do |b| %>
		<%= f.fields_for :offices, b do |b_field| %>
			<%= b_field.hidden_field :id %>
			<div class="card">
			<p><%= b_field.label b.name %> building available floors:</p>
				<div class="form-group">
					<%= b_field.collection_radio_buttons :offices, b.empty_offices, :floor, :floor %>
				</div>
			</div>
		<% end %>
	<% end %>
	<br>
	<%= f.submit %>
</div>
<% end %>
</div>
</div>